<h1><span id="crime-count"><%= @count %></span> Crimes reported in 2016 in London</h1>

<%= form_tag('/crimes', remote: true, method: :get) do |form| %>
  <%= select_tag('category', options_for_select(@categories), include_blank: 'All') %>
  <%= select_tag('outcome', options_for_select(@outcomes), include_blank: 'All') %>

  <%= submit_tag 'Find counts' %>
<% end %>
